.meals > :nth-child(2n+1) {
  background-color: #EEEEEE; }

.meal {
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 15px; }
  @media screen and (min-width: 400px) {
    .meal {
      grid-template-columns: 150px auto 50px; } }

.meal-form {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: inset 0 0 2px 0 #000000;
  max-width: 400px;
  width: 90vw; }

.action-button:not(:last-child) {
  margin-bottom: 5px; }
